
 @if (Peliculas == null)
    {
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
        <text>Cargando...</text>
    }
    else if (Peliculas.Count == 0)
    {
        <text>No hay registros para mostrar...</text>
    }
    else
    {
        @foreach (var pelicula in Peliculas)
        {
            <div>
                <p>Título: @((MarkupString)pelicula.Titulo)</p>
                <p>Fecha Lanzamiento: <b>@pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
            </div>
        }
    }

@code {

    protected override async Task OnInitializedAsync()
    {
        Peliculas = ObtenerPeliculas();
    }

    public List<Pelicula> Peliculas;

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
    {
            new Pelicula(){Titulo = "<b>Spider-Man</b>: Far From Home", Lanzamiento  = new DateTime(2022, 7, 2)},
            new Pelicula(){Titulo = "<i>Moana</i>", Lanzamiento  = new DateTime(2016, 11, 23)},
            new Pelicula(){Titulo = "Inception", Lanzamiento  = new DateTime(2019, 7, 16)}
        };
    }
}
