 <div>
     @*Ojo posible hueco de seguridad*@
    <p>Título: @((MarkupString)Pelicula.Titulo)</p>
    <p>Fecha Lanzamiento: <b>@Pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
    @if (MostrarBotones)
    {
        <div>
            <button @onclick="@(() => EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
        </div>
    }
    
</div>

@code {

    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; }
    [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }

}
