<div class="wrapper-skills">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills-detail-left">
            <h3>BackEnd</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white skills-detail-right">
            <h3>FrontEnd</h3>
            <p>
                Puedo crear clientes robustos que cumplan con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Vue, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>

        </div>
    </div>
</div>