.my-picture {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
    border: 2px solid black;
}

.section-welcome {
    margin: 5rem 0 10rem 0;
}

.section-welcome h1 {
    margin-bottom: 1rem;
}

.section-welcome p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.cabecera {
    font-weight: bold;
}

.wrapper-skills {
    margin-top: -105px;
}

.skills-detail-left {
    border-radius: 20px 0 0 20px;
    box-shadow: 0 5px 5px 0 gray;
}

.skills-detail-right {
    border-radius: 0 20px 20px 0;
    box-shadow: 0 5px 5px 0 gray;
}

.skills-detail-left ul {
    list-style: none;
    padding: 0;
}

.skills-detail-right ul {
    list-style: none;
    padding: 0;
}